{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <!-- 愚直に書く方法
        <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
    	-->
    	
    	<!-- polls.urlsにて % url が解釈され，pathではなくname変数によって問い合わせを掛ける 
    	<li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    	-->
    	
    	<!-- 「:」を付けることで名前空間付きの詳細ビューを指定する -->
    	<li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}